body {
    background-color: #37393F;
    text-align: center;
    color: white;
}

#title {
    font-size: 80px;
    animation: backInDown;
    animation-duration: 1500ms;
}

#short-description {
    font-size: 30px;
    animation: backInUp;
    animation-duration: 1500ms;
}


#link-icon {
    text-align: center;
    animation: backInLeft;
    animation-duration: 1500ms;
    padding-bottom: 25px;
    cursor: pointer;
    fill: white;
}

#upload-icon {
    text-align: center;
    animation: backInRight;
    animation-duration: 1500ms;
    cursor: pointer;
    /* border: 2px solid green; */
}

